details > summary {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  color: rgb(0, 109, 235);
}

div.topLink {
  text-align: right;
  margin-top: -3rem;
  position: relative;
  z-index: 1;
}

div.topLink a {
  font-size: 12px;
}